# EditorConfig is awesome: http://EditorConfig.org

root = true

[*]
insert_final_newline = true
charset = utf-8
indent_size = 2
indent_style = space
tab_width = 2

[{*.go,Makefile}]
indent_style = tab
indent_size = 4
tab_width = 4

[*.yml]
indent_size = 4
tab_width = 4
insert_final_newline = false

[{VERSION,Makefile}]
insert_final_newline = false
